.clipboard_overlay {
  &.hidden {
    display: none;
  }

  position: fixed;

  left: 4.2rem;
  bottom: 4.2rem;

  padding: 1.6rem;
  border-radius: 1rem;

  background-color: var(--color-dark);
  animation: toRightEffect 0.6s ease;

  .clipboard_color {
    border: 2px solid var(--color-white);
    border-radius: 0.2rem;

    padding: 0.2rem;
    margin-left: 0.5rem;
  }
}

@keyframes toRightEffect {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
