.clipboard_overlay {
  position: fixed;

  left: 3rem;
  bottom: 8rem;

  padding: 1.6rem;
  border-radius: 1rem;

  background-color: var(--color-dark);
  animation: ClipboardEffect 0.8s cubic-bezier(0.19, 1, 0.22, 1);

  .clipboard__message {
    font-size: 1.4rem;
    text-align: center;
  }

  .clipboard__color {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.hidden {
    display: none;
  }

  @media (max-width: 600px) {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
