.copy_intructions {
  margin-top: 7rem;
  padding: 1.6rem 2rem;

  border-radius: 3rem;

  background-color: var(--color-dark);
  transition: 0.8s ease;

  &:hover {
    transform: scale(1.1);
  }

  .copy__text {
    font-size: 1.6rem;
    text-align: center;

    line-height: 1.6;
  }
}
