.shortcut-open-button {
  position: fixed;
  z-index: 1;

  right: 3.2rem;
  bottom: 3.2rem;

  width: 5.8rem;
  height: 5.8rem;

  padding: 1rem;

  // Only "Desktop" devices
  display: none;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);
  border-radius: 50%;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: 0.6s ease;

  .expand-icon {
    width: 3.2rem;
    height: 3.2rem;

    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    transform: scale(1.05);

    .expand-icon {
      opacity: 0.5;
    }
  }

  @media (min-width: 980px) {
    display: flex;
  }
}

.shortcuts_overlay {
  position: fixed;
  z-index: 99;

  overflow-x: auto;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.95);

  &.hidden {
    display: none;
  }

  @media (max-width: 980px) {
    // Only "Desktop" devices.
    display: none;
  }
}

.shortcuts {
  width: min(100%, 680px);
  margin: 1.2rem;

  padding: 4rem;
  border-radius: 1rem;

  background-color: var(--color-dark);
  animation: ShortcutsModalDownAnimate 0.8s ease-out;

  .shortcuts__title {
    width: 100%;
    padding: 0 1.8rem 0 1.8rem;

    display: flex;

    justify-content: flex-start;
    align-items: center;

    span {
      font-size: 3rem;
      line-height: 1.2;

      margin-left: 1rem;
    }
  }

  @media (max-width: 480px) {
    margin: 0 auto;
  }
}

.shorthen {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  // Ul
  .shorthen__list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // Li
    .shorthen_item {
      position: relative;

      width: 100%;
      padding: 1.8rem 0;

      border-top: 1px solid var(--color-line-light);

      display: flex;

      align-items: center;
      justify-content: space-between;

      @media (max-width: 480px) {
        margin-bottom: 3rem;

        flex-direction: column;
        align-items: flex-start;
      }

      .shortcut__badge {
        position: absolute;
        top: -12px;
        left: 0;

        font-size: 1.2rem;
        font-weight: bold;

        font-family: 'Inter', sans-serif;
        text-transform: uppercase;

        padding: 0.4rem;

        border-radius: 0.4rem;
        background-color: var(--color-primary);

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    .shortcut__description {
      font-size: 1.6rem;
      line-height: 1.4;

      &:hover {
        opacity: 0.8;
      }
    }

    .shortcut__key {
      position: relative;
      user-select: none;

      width: min(100%, 17rem); // 170px
      padding: 1.6rem;

      font-size: 1.6rem;
      font-family: 'Inter', sans-serif;

      font-weight: bold;
      text-transform: uppercase;
      text-align: center;

      border-radius: 0.8rem;
      border: 2px solid transparent;

      background-color: var(--color-dark-secondary);
      transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      .key__circle {
        position: absolute;

        width: 5px;
        height: 5px;

        border-radius: 50%;
        background-color: var(--color-notifier-enabled);

        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);

        &.disabled {
          background-color: var(--color-notifier-disabled);
        }
      }

      &:hover {
        background-color: var(--color-dark-secondary-hover);
        border-color: var(--color-primary-hover);

        cursor: auto;
      }
    }
  }

  .shortcut__closing {
    width: min(100%, 12rem);

    margin-top: 2.8rem;
    padding: 1.2rem 3rem;

    font-size: 1.6rem;
    font-weight: bold;

    color: var(--color-red);
    background-color: transparent;

    border-radius: 0.8rem;
    border: 2px solid currentColor;

    transition: 0.6s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
