:root {
  --color-background: #0b0b0c;
  --color-dark: #121214;

  --color-primary: #6e3cbc;
  --color-text: #e1e1e6;
  --color-white: #ffffff;

  --color-primary-hover: #5a2fa0;

  --color-notifier-enabled: rgb(27, 158, 27);
  --color-notifier-disabled: rgb(196, 30, 30);

  --color-red-dark: rgb(216, 42, 42);

  // 62.5% - 10px
  font-size: 62.5%;
}

@media (max-width: 1024px) {
  :root {
    font-size: 56.25%; // 9px
  }
}

@media (max-width: 980px) {
  :root {
    font-size: 50%; // 8px
  }
}
