* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  color: var(--color-text);

  border: none;
  outline: none;
}

button,
a {
  cursor: pointer;
}

a {
  color: inherit;
}

body {
  background-color: var(--color-background);
}

img {
  pointer-events: none;

  user-select: none;
  -ms-user-select: none;
  -moz-user-focus: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.icon-32 {
  width: 3.2rem;
  height: 3.2rem;
}

.icon-28 {
  width: 2.8rem;
  height: 2.8rem;
}
